<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;0,700;1,600&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="prototipo-sistema-gestin-educ">
    		<div class="app">
      			<div class="detailscreen">
        				<div class="header">
          					<div class="button">
            						<img class="icon" alt="">
            						
          					</div>
          					<div class="container">
            						<div class="text">
              							<img class="icon2" alt="">
              							
            						</div>
          					</div>
          					<div class="heading-2">
            						<div class="historial-de-pagos">Historial de Pagos</div>
          					</div>
        				</div>
        				<div class="container2">
          					<div class="paymentsscreen">
            						<div class="container3">
              							<div class="paragraph">
                								<b class="b">$450.00</b>
              							</div>
              							<div class="paragraphmargin">
                								<div class="paragraph2">
                  									<div class="mensualidad">Mensualidad</div>
                								</div>
              							</div>
            						</div>
            						<div class="container4">
              							<div class="paragraph">
                								<b class="b">4</b>
              							</div>
              							<div class="paragraphmargin">
                								<div class="paragraph2">
                  									<div class="mensualidad">Pagos realizados</div>
                								</div>
              							</div>
            						</div>
            						<div class="container5">
              							<div class="paragraph">
                								<b class="b">Ago 2026</b>
              							</div>
              							<div class="paragraphmargin">
                								<div class="paragraph2">
                  									<div class="mensualidad">Próximo pago</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="paymentsscreen2">
            						<div class="container6">
              							<div class="container7">
                								<div class="container8">
                  									<img class="icon" alt="">
                  									
                								</div>
                								<div class="container9">
                  									<div class="paragraph7">
                    										<div class="historial-de-pagos">Julio 2026</div>
                  									</div>
                  									<div class="paragraph8">
                    										<div class="sin-referencia-an">REF-20260705-001</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container10">
                								<div class="paragraph9">
                  									<b class="b3">$450.00</b>
                								</div>
                								<div class="container11">
                  									<div class="text2">
                    										<div class="pagado">Pagado</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container12">
                								<div class="container7">
                  									<div class="container8">
                    										<img class="icon" alt="">
                    										
                  									</div>
                  									<div class="container15">
                    										<div class="paragraph7">
                      											<div class="historial-de-pagos">Junio 2026</div>
                    										</div>
                    										<div class="paragraph8">
                      											<div class="sin-referencia-an">REF-20260603-019</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="paragraph9">
                    										<b class="b3">$450.00</b>
                  									</div>
                  									<div class="container11">
                    										<div class="text2">
                      											<div class="pagado">Pagado</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container12">
                								<div class="container7">
                  									<div class="container8">
                    										<img class="icon" alt="">
                    										
                  									</div>
                  									<div class="container21">
                    										<div class="paragraph7">
                      											<div class="historial-de-pagos">Mayo 2026</div>
                    										</div>
                    										<div class="paragraph8">
                      											<div class="sin-referencia-an">REF-20260506-044</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="paragraph9">
                    										<b class="b3">$450.00</b>
                  									</div>
                  									<div class="container11">
                    										<div class="text2">
                      											<div class="pagado">Pagado</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container12">
                								<div class="container7">
                  									<div class="container8">
                    										<img class="icon" alt="">
                    										
                  									</div>
                  									<div class="container15">
                    										<div class="paragraph7">
                      											<div class="historial-de-pagos">Abril 2026</div>
                    										</div>
                    										<div class="paragraph8">
                      											<div class="sin-referencia-an">REF-20260402-031</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="paragraph9">
                    										<b class="b3">$450.00</b>
                  									</div>
                  									<div class="container11">
                    										<div class="text2">
                      											<div class="pagado">Pagado</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container12">
                								<div class="container7">
                  									<div class="container32">
                    										<img class="icon" alt="">
                    										
                  									</div>
                  									<div class="container33">
                    										<div class="paragraph7">
                      											<div class="historial-de-pagos">Agosto 2026</div>
                    										</div>
                    										<div class="paragraph8">
                      											<div class="sin-referencia-an">Sin referencia aún</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container34">
                  									<div class="paragraph9">
                    										<b class="b3">$450.00</b>
                  									</div>
                  									<div class="container35">
                    										<div class="text6">
                      											<div class="pendiente">Pendiente</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="footer">
          					<div class="container36">
            						<div class="container37">
              							<div class="container38">
                								<div class="paragraph22">
                  									<div class="contacto">Contacto</div>
                								</div>
                								<div class="containermargin5">
                  									<div class="container39">
                    										<img class="icon8" alt="">
                    										
                    										<div class="text">
                      											<div class="div">(771) 123-4567</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="containermargin6">
                  									<div class="container39">
                    										<img class="icon8" alt="">
                    										
                    										<div class="text">
                      											<div class="div">(771) 234-5678</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="containermargin6">
                  									<div class="container39">
                    										<img class="icon8" alt="">
                    										
                    										<div class="text">
                      											<div class="div">contacto@ricardogaribay.edu.mx</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="containermargin8">
                  									<div class="container39">
                    										<img class="icon8" alt="">
                    										
                    										<div class="text">
                      											<div class="div">Tulancingo de Bravo, Hidalgo</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container43">
                								<div class="paragraphmargin4">
                  									<i class="ricardo-garibay">Ricardo Garibay</i>
                								</div>
                								<div class="paragraph23">
                  									<div class="contacto">Centro Cultural · Tulancingo</div>
                								</div>
                								<div class="paragraphmargin5">
                  									<div class="paragraph24">
                    										<div class="sin-referencia-an">© 2026 Todos los derechos reservados</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container44">
                								<div class="paragraphmargin6">
                  									<div class="paragraph25">
                    										<div class="contacto">Redes Sociales</div>
                  									</div>
                								</div>
                								<div class="container45">
                  									<div class="link">
                    										<img class="icon12" alt="">
                    										
                    										<div class="facebook">Facebook</div>
                  									</div>
                  									<div class="link2">
                    										<img class="icon13" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>