<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;1,600&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="prototipo-sistema-gestin-educ">
    		<div class="app">
      			<div class="admindetail">
        				<img class="geometricpattern-icon" alt="">
        				
        				<div class="header">
          					<div class="button">
            						<img class="icon" alt="">
            						
            						<div class="text">
              							<div class="panel-admin">Panel Admin</div>
            						</div>
          					</div>
          					<div class="container">
            						<div class="paragraph">
              							<img class="icon2" alt="">
              							
            						</div>
            						<div class="heading-2">
              							<div class="gestin-de-talleres">Gestión de Talleres y Matrícula</div>
            						</div>
          					</div>
          					<div class="container2">
            						<img class="icon3" alt="">
            						
            						<div class="text3">
              							<div class="admin">Admin</div>
            						</div>
          					</div>
        				</div>
        				<div class="container3">
          					<div class="adminworkshopsscreen">
            						<div class="button2">
              							<b class="visor-de-matrcula">Gestión de Talleres</b>
            						</div>
            						<div class="button3">
              							<b class="visor-de-matrcula">Visor de Matrícula</b>
            						</div>
          					</div>
          					<div class="adminworkshopsscreen2">
            						<div class="paragraph">
              							<div class="talleres-registrados">25 talleres registrados</div>
            						</div>
            						<div class="button4">
              							<img class="icon4" alt="">
              							
              							<div class="agregar-taller">Agregar taller</div>
            						</div>
          					</div>
          					<div class="adminworkshopsscreen3">
            						<div class="container4">
              							<div class="container5">
                								<div class="container6">
                								</div>
                								<div class="container7">
                  									<div class="paragraph2">
                    										<div class="gestin-de-talleres">Batería</div>
                  									</div>
                  									<div class="paragraph3">
                    										<div class="admin">Juan Pérez Yáñez · Mié 16-17, Vie 16-17 y 17-18 hrs</div>
                  									</div>
                								</div>
                								<div class="text4">
                  									<div class="admin">Música</div>
                								</div>
                								<div class="button5">
                  									<img class="icon5" alt="">
                  									
                								</div>
                								<div class="button6">
                  									<img class="icon5" alt="">
                  									
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Canto</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Roberto Olvera Morgado · Lun y Mié 17-18 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Dibujo / Acuarela</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Yehimi Elizabeth Jardinez Soto · Mar 10-12, 15-16:50, 17-18:50 · Sáb 10-12 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Guitarra</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Raúl Ramos Taboada · Lun y Jue 16-17, 17-18, 18-19 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Pintura</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Irene Reyna Estrada · Jue (Niños) 16-18, 18-20 · Vie (Adultos) 16-18, 18-20 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Teclado</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Anthon E. Escorcia Yáñez · Lun y Mié 16-17, 17-18, 18-19, 19-20 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Piano</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Eliel Suarez Saenz · Sáb 12-14 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Violín</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Eduardo Espinoza · Mar y Mié 16:30-17:30, 17:30-18:30 · Sáb 10-13 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container38">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Ajedrez</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Luis E. García de Dios · Lun y Mié 16:30-17:30 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Mental</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container42">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Teatro</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Eduardo de la Fuente Colín · Vie 17-19 · Sáb 11-13 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Escénico</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container46">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Ballet Clásico</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Francisco Javier Vargas · Lun y Mié 16-17 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Danza</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Fotografía</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Nadia Domínguez R. · Jue 15-17 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container54">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Yoga</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Ricardo Sáyago Flores · Lun y Vie 18-19 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Bienestar</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container46">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Danza Moderna</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Francisco Javier Vargas · Lun y Mié 17:30-18:30 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Danza</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Maquillaje Artístico</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Nadia Domínguez R. · Jue 17-19 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Muralismo</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Cesar Blancas R. · Sáb 10:30-14 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Música Popular</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Rubens Romero C. · Vie 16-18 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container46">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Ritmos Latinos</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Alvaro Lopez Peña · Jue 18-20 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Danza</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container78">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Amigurumis (+10 años)</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Martha Valerio Martilla · Lun y Jue 16:30-17:30 · Sáb 9-11, 11-13 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Manualidades</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Estampado Artístico</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Laura A. Martinez Peña · Mar 17-19 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Guitarra Clásica</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Eliel Suarez Saenz · Sáb 10-12 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container6">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Piano Popular</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Pedro Ortiz Muñoz · Sáb 12-14 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Música</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container14">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Artístico Lunarte</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Diana Soto · Mar y Jue 16-17 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Artes Plásticas</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container46">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Danza Folclórica</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Karen Montiel · Vie 16-18 · Sáb 12-14 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Danza</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="containermargin">
              							<div class="container4">
                								<div class="container5">
                  									<div class="container46">
                  									</div>
                  									<div class="container7">
                    										<div class="paragraph2">
                      											<div class="gestin-de-talleres">Baile Danzón</div>
                    										</div>
                    										<div class="paragraph3">
                      											<div class="admin">Rodolfo Ramirez Flores · Mar 17-19 hrs</div>
                    										</div>
                  									</div>
                  									<div class="text4">
                    										<div class="admin">Danza</div>
                  									</div>
                  									<div class="button5">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                  									<div class="button6">
                    										<img class="icon5" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="container104">
          					<div class="container105">
            						<div class="container106">
              							<div class="container107">
                								<div class="paragraph52">
                  									<div class="contacto">Contacto</div>
                								</div>
                								<div class="containermargin25">
                  									<div class="container108">
                    										<img class="icon5" alt="">
                    										
                    										<div class="paragraph">
                      											<div class="talleres-registrados">(771) 123-4567</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="containermargin26">
                  									<div class="container108">
                    										<img class="icon5" alt="">
                    										
                    										<div class="paragraph">
                      											<div class="talleres-registrados">(771) 234-5678</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="containermargin26">
                  									<div class="container108">
                    										<img class="icon5" alt="">
                    										
                    										<div class="paragraph">
                      											<div class="talleres-registrados">contacto@ricardogaribay.edu.mx</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="containermargin28">
                  									<div class="container108">
                    										<img class="icon5" alt="">
                    										
                    										<div class="paragraph">
                      											<div class="talleres-registrados">Tulancingo de Bravo, Hidalgo</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container112">
                								<div class="paragraphmargin">
                  									<i class="ricardo-garibay">Ricardo Garibay</i>
                								</div>
                								<div class="paragraph53">
                  									<div class="contacto">Centro Cultural · Tulancingo</div>
                								</div>
                								<div class="paragraphmargin2">
                  									<div class="paragraph54">
                    										<div class="admin">© 2026 Todos los derechos reservados</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container113">
                								<div class="paragraphmargin3">
                  									<div class="paragraph55">
                    										<div class="contacto">Redes Sociales</div>
                  									</div>
                								</div>
                								<div class="container114">
                  									<div class="link">
                    										<img class="icon4" alt="">
                    										
                    										<div class="agregar-taller">Facebook</div>
                  									</div>
                  									<div class="link2">
                    										<img class="icon60" alt="">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>