<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="css/public/cartelera_eventos.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,700;1,600&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="prototipo-sistema-gestin-educ">
    		<div class="body">
      			<div class="container">
        				<div class="header">
          					<div class="button">
            						<i class="ricardo-garibay">RICARDO GARIBAY</i>
          					</div>
          					<div class="button2">
            						<div class="container2">
              							<img class="icon" alt="">
              							
            						</div>
          					</div>
        				</div>
        				<div class="container3">
          					<div class="button3">
            						<div class="servicios">SERVICIOS</div>
          					</div>
          					<div class="button3">
            						<div class="servicios">TALLERES</div>
          					</div>
          					<div class="button5">
            						<div class="servicios">CARTELERA</div>
          					</div>
        				</div>
        				<div class="container4">
          					<div class="container5">
            						<div class="paragraph">
              							<div class="agenda">Agenda</div>
            						</div>
            						<div class="heading-2">
              							<b class="cartelera-cultural-y">Cartelera Cultural y Eventos</b>
            						</div>
            						<div class="paragraphmargin">
              							<div class="paragraph2">
                								<div class="julio-agosto">Julio – Agosto 2026 · Haz clic en un evento para ver detalles</div>
              							</div>
            						</div>
          					</div>
          					<div class="containermargin">
            						<div class="container6">
              							<div class="button6">
                								<div class="container7">
                  									<div class="image-exhibicin-de-baile-dan">
                  									</div>
                  									<div class="container8">
                  									</div>
                  									<div class="container9">
                    										<div class="text">
                      											<b class="danza">Danza</b>
                    										</div>
                    										<div class="text2">
                      											<div class="jul">28 Jul</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="heading-4">
                    										<b class="julio-agosto">Exhibición de Baile Danzón</b>
                  									</div>
                  									<div class="paragraphmargin2">
                    										<div class="paragraph3">
                      											<div class="muestra-final-de">Muestra final de los alumnos coordinada por el Prof. Rodolfo Ramírez. Entrada libre.</div>
                    										</div>
                  									</div>
                  									<div class="containermargin2">
                    										<div class="container11">
                      											<div class="container12">
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">18:00 hrs</div>
                        												</div>
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">Auditorio Municipal</div>
                        												</div>
                      											</div>
                      											<img class="icon4" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="button7">
                								<div class="container7">
                  									<div class="image-exhibicin-de-baile-dan">
                  									</div>
                  									<div class="container8">
                  									</div>
                  									<div class="container9">
                    										<div class="text3">
                      											<b class="danza">Teatro</b>
                    										</div>
                    										<div class="text2">
                      											<div class="jul">02 Ago</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="heading-4">
                    										<b class="julio-agosto">Muestra de Teatro Juvenil</b>
                  									</div>
                  									<div class="paragraphmargin2">
                    										<div class="paragraph3">
                      											<div class="muestra-final-de">Tres obras cortas escritas y dirigidas por alumnos del taller de Teatro.</div>
                    										</div>
                  									</div>
                  									<div class="containermargin2">
                    										<div class="container11">
                      											<div class="container12">
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">17:30 hrs</div>
                        												</div>
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">Foro Cultural del Centro</div>
                        												</div>
                      											</div>
                      											<img class="icon4" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="button8">
                								<div class="container7">
                  									<img class="image-exposicin-colectiva-de" alt="">
                  									
                  									<div class="container8">
                  									</div>
                  									<div class="container9">
                    										<div class="text5">
                      											<b class="danza">Artes</b>
                    										</div>
                    										<div class="text2">
                      											<div class="jul">05 Ago</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="heading-4">
                    										<b class="julio-agosto">Exposición Colectiva de Artes Plásticas</b>
                  									</div>
                  									<div class="paragraphmargin2">
                    										<div class="paragraph3">
                      											<div class="muestra-final-de">Pinturas, acuarelas, muralismo y fotografía. Entrada libre para toda la familia.</div>
                    										</div>
                  									</div>
                  									<div class="containermargin2">
                    										<div class="container11">
                      											<div class="container12">
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">11:00 – 20:00 hrs</div>
                        												</div>
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">Sala de Exposiciones, C.C. Ricardo Garibay</div>
                        												</div>
                      											</div>
                      											<img class="icon4" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="button9">
                								<div class="container7">
                  									<img class="image-exposicin-colectiva-de" alt="">
                  									
                  									<div class="container8">
                  									</div>
                  									<div class="container9">
                    										<div class="text7">
                      											<b class="danza">Música</b>
                    										</div>
                    										<div class="text2">
                      											<div class="jul">09 Ago</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="heading-4">
                    										<b class="julio-agosto">Concierto de Violín y Piano</b>
                  									</div>
                  									<div class="paragraphmargin2">
                    										<div class="paragraph3">
                      											<div class="muestra-final-de">Recital de alumnos avanzados de violín y piano. Programa clásico y contemporáneo.</div>
                    										</div>
                  									</div>
                  									<div class="containermargin2">
                    										<div class="container11">
                      											<div class="container12">
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">19:00 hrs</div>
                        												</div>
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">Auditorio Ricardo Garibay</div>
                        												</div>
                      											</div>
                      											<img class="icon4" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="button10">
                								<div class="container7">
                  									<div class="image-exhibicin-de-baile-dan">
                  									</div>
                  									<div class="container8">
                  									</div>
                  									<div class="container9">
                    										<div class="text9">
                      											<b class="danza">Institucional</b>
                    										</div>
                    										<div class="text2">
                      											<div class="jul">15 Ago</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="heading-4">
                    										<b class="julio-agosto">Apertura de Inscripciones 2026-B</b>
                  									</div>
                  									<div class="paragraphmargin2">
                    										<div class="paragraph3">
                      											<div class="muestra-final-de">Inicio de inscripciones y reinscripciones para el ciclo 2026-B. Cupo limitado.</div>
                    										</div>
                  									</div>
                  									<div class="containermargin2">
                    										<div class="container11">
                      											<div class="container12">
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">09:00 – 14:00 hrs</div>
                        												</div>
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">Dirección del Centro Cultural</div>
                        												</div>
                      											</div>
                      											<img class="icon4" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="button11">
                								<div class="container7">
                  									<img class="image-exposicin-colectiva-de" alt="">
                  									
                  									<div class="container8">
                  									</div>
                  									<div class="container9">
                    										<div class="text">
                      											<b class="danza">Danza</b>
                    										</div>
                    										<div class="text2">
                      											<div class="jul">22 Ago</div>
                    										</div>
                  									</div>
                								</div>
                								<div class="container10">
                  									<div class="heading-4">
                    										<b class="julio-agosto">Festival de Danza Folclórica</b>
                  									</div>
                  									<div class="paragraphmargin2">
                    										<div class="paragraph3">
                      											<div class="muestra-final-de">Gran muestra regional con grupos de Tulancingo, Pachuca y Tula de Allende.</div>
                    										</div>
                  									</div>
                  									<div class="containermargin2">
                    										<div class="container11">
                      											<div class="container12">
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">17:00 hrs</div>
                        												</div>
                        												<div class="container13">
                          													<img class="icon2" alt="">
                          													
                          													<div class="hrs">Plaza Principal de Tulancingo</div>
                        												</div>
                      											</div>
                      											<img class="icon4" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="footer">
          					<div class="container55">
            						<div class="container56">
              							<div class="paragraph9">
                								<div class="agenda">Contacto</div>
              							</div>
              							<div class="containermargin8">
                								<div class="container57">
                  									<img class="icon20" alt="">
                  									
                  									<div class="text13">
                    										<div class="div">(771) 123-4567</div>
                  									</div>
                								</div>
              							</div>
              							<div class="containermargin9">
                								<div class="container57">
                  									<img class="icon20" alt="">
                  									
                  									<div class="text13">
                    										<div class="div">(771) 234-5678</div>
                  									</div>
                								</div>
              							</div>
              							<div class="containermargin9">
                								<div class="container57">
                  									<img class="icon20" alt="">
                  									
                  									<div class="text13">
                    										<div class="div">contacto@ricardogaribay.edu.mx</div>
                  									</div>
                								</div>
              							</div>
              							<div class="containermargin11">
                								<div class="container57">
                  									<img class="icon20" alt="">
                  									
                  									<div class="text13">
                    										<div class="div">Tulancingo de Bravo, Hidalgo</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="container61">
              							<div class="paragraphmargin8">
                								<i class="ricardo-garibay2">Ricardo Garibay</i>
              							</div>
              							<div class="paragraph10">
                								<div class="agenda">Centro Cultural · Tulancingo</div>
              							</div>
              							<div class="paragraphmargin9">
                								<div class="paragraph11">
                  									<div class="todos-los-derechos">© 2026 Todos los derechos reservados</div>
                								</div>
              							</div>
            						</div>
            						<div class="container62">
              							<div class="paragraphmargin10">
                								<div class="paragraph12">
                  									<div class="agenda">Redes Sociales</div>
                								</div>
              							</div>
              							<div class="container63">
                								<div class="link">
                  									<img class="icon24" alt="">
                  									
                  									<div class="jul">Facebook</div>
                								</div>
                								<div class="link2">
                  									<img class="icon25" alt="">
                  									
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>