<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;1,600&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="prototipo-sistema-gestin-educ">
    		<div class="body">
      			<div class="container">
        				<img class="container-icon" alt="">
        				
        				<div class="header">
          					<div class="button">
            						<img class="icon" alt="">
            						
            						<div class="text">
              							<div class="inicio">Inicio</div>
            						</div>
          					</div>
          					<div class="heading-1">
            						<i class="ricardo-garibay">RICARDO GARIBAY</i>
          					</div>
          					<div class="container2">
          					</div>
        				</div>
        				<div class="container3">
          					<div class="container4">
            						<div class="container5">
              							<div class="button2">
                								<b class="alumno">👨‍🎓 Alumno</b>
              							</div>
              							<div class="button3">
                								<b class="alumno">👨‍🏫 Profesor</b>
              							</div>
              							<div class="button4">
                								<b class="alumno">🛡️ Admin</b>
              							</div>
            						</div>
            						<div class="container6">
              							<div class="container7">
                								<div class="heading-2">
                  									<div class="ricardo-garibay">Acceso — Bienvenido</div>
                								</div>
                								<div class="paragraphmargin">
                  									<div class="paragraph">
                    										<div class="portal-estudiantil-del">Portal estudiantil del Centro Cultural</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container8">
                								<div class="label">
                  									<div class="usuario-o-correo">Usuario o Correo Electrónico</div>
                								</div>
                								<div class="text-input">
                  									<div class="alexavazquezricardogaribaye">alexa.vazquez@ricardogaribay.edu.mx</div>
                								</div>
              							</div>
              							<div class="container8">
                								<div class="heading-2">
                  									<div class="usuario-o-correo">Contraseña</div>
                								</div>
                								<div class="containermargin">
                  									<div class="container10">
                    										<div class="password-input">
                      											<div class="alexavazquezricardogaribaye">••••••••</div>
                    										</div>
                    										<div class="button5">
                      											<img class="icon" alt="">
                      											
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="container11">
                								<div class="button">
                  									<div class="checkbox">
                    										<div class="container12">
                      											<img class="icon3" alt="">
                      											
                    										</div>
                  									</div>
                  									<div class="text2">
                    										<div class="recordar-sesin">Recordar sesión</div>
                  									</div>
                								</div>
                								<div class="button6">
                  									<div class="olvid-su-contrasea">¿Olvidó su contraseña?</div>
                								</div>
              							</div>
              							<div class="buttonmargin">
                								<div class="button7">
                  									<div class="iniciar-sesin">Iniciar sesión</div>
                								</div>
              							</div>
              							<div class="container13">
                								<div class="container14">
                								</div>
                								<div class="text3">
                  									<div class="o">o</div>
                								</div>
                								<div class="container14">
                								</div>
              							</div>
              							<div class="button8">
                								<div class="registrarse-como-nuevo">Registrarse como nuevo estudiante</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="footer">
          					<div class="container16">
            						<div class="container17">
              							<div class="paragraph2">
                								<div class="contacto">Contacto</div>
              							</div>
              							<div class="containermargin2">
                								<div class="container18">
                  									<img class="icon4" alt="">
                  									
                  									<div class="text2">
                    										<div class="portal-estudiantil-del">(771) 123-4567</div>
                  									</div>
                								</div>
              							</div>
              							<div class="containermargin3">
                								<div class="container18">
                  									<img class="icon4" alt="">
                  									
                  									<div class="text2">
                    										<div class="portal-estudiantil-del">(771) 234-5678</div>
                  									</div>
                								</div>
              							</div>
              							<div class="containermargin3">
                								<div class="container18">
                  									<img class="icon4" alt="">
                  									
                  									<div class="text2">
                    										<div class="portal-estudiantil-del">contacto@ricardogaribay.edu.mx</div>
                  									</div>
                								</div>
              							</div>
              							<div class="containermargin5">
                								<div class="container18">
                  									<img class="icon4" alt="">
                  									
                  									<div class="text2">
                    										<div class="portal-estudiantil-del">Tulancingo de Bravo, Hidalgo</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="container22">
              							<div class="paragraphmargin2">
                								<i class="ricardo-garibay">Ricardo Garibay</i>
              							</div>
              							<div class="paragraph3">
                								<div class="contacto">Centro Cultural · Tulancingo</div>
              							</div>
              							<div class="paragraphmargin3">
                								<div class="paragraph4">
                  									<div class="o">© 2026 Todos los derechos reservados</div>
                								</div>
              							</div>
            						</div>
            						<div class="container23">
              							<div class="paragraphmargin4">
                								<div class="paragraph5">
                  									<div class="contacto">Redes Sociales</div>
                								</div>
              							</div>
              							<div class="container24">
                								<div class="link">
                  									<img class="icon3" alt="">
                  									
                  									<div class="facebook">Facebook</div>
                								</div>
                								<div class="link2">
                  									<img class="icon9" alt="">
                  									
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>